.all {
  background-image: url("./images/restaurantBackground1.jpg");
  background-color: #474545;
  max-width: 1920px;
  height: 1080px;

}

.title h1 {
  text-align: center;
  color: #e00000;
  /* padding-top: 40px; */
  font-family: 'Laila', serif;
  font-size: 40px;
}
.title {
  text-align: center;
  color: #e00000;
  padding-top: 40px;
  font-family: 'Laila', serif;
  font-size: 20px;
}

.newRestaurantForm {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
.restaurantInput {
  margin-right: 5px;
}

h3 {
  color: #e00000;
  font-family: 'Laila', serif;
  text-align: center;
}

#notVisitedCards {
  padding-top: -300px;
  padding-bottom: -20px;
}

#cardBodyText {
  font-size: 15px;
  /* font-family: 'Laila', serif; */
}
#cardVisitedText {
  font-size: 15px;
}

#visit-button {
  float: right;
} 
